!!!
%html
  %head
    %title Mirror App
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{ href: root_path} MirrorApp
          .nav-collapse
            %ul.nav
              %li= link_to "Check out", new_checkout_path
            - if user_signed_in?
              %ul.nav.pull-right
                %li.dropdown
                  %a.dropdown-toggle{ href: '#', 'data-toggle' => 'dropdown' }
                    = current_user
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to "Sign out", user_session_path, method: :delete
              - else
                %ul.nav.pull-right
                  %li= link_to "Sign in", new_user_session_path
                  %li= link_to "Register", new_user_registration_path
    .container
      - flash.each do |name, msg|
        %div{ class: "alert alert-#{name == :notice ? "success" : "error"}" }
          %a{ class: "close", 'data-dismiss' => "alert" } &times;
          = msg
      = yield
      %hr
      %footer
        .pull-right
          A Jeff Dickey production
