= simple_form_for resource, url: user_registration_path do |f|
  = f.error_notification
  = f.input :email, autofocus: true
  = f.input :password
  = f.input :remember_me, value: true, as: :hidden
  = f.button :submit, "Register"
= render "links"
